set_io LED_G 41

set_io LED_R 40

set_io LED_B 39

set_io clk 35

set_io RX 4

set_io TX 6

set_io USB_DP 10

set_io USB_DN 9

set_io USB_PULLUP 11

set_io SPI_SS 16

set_io SPI_SCK 15

set_io SPI_MOSI 17

set_io SPI_MISO 14
